<!-- 轮播区域 -->
    <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="/Hot1.jpg" alt="Cake 1">
                        <div class="description">
                            <h2>Sweet Corn Tart</h2>
                            <p>Sweet corn mousse piped over honey whiskey whipped cream—all atop a buttery shortbread crust</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="/Hot2.jpg" alt="Cake 2">
                        <div class="description">
                            <h2>Chocolate Cake</h2>
                            <p>Rich chocolate layers with creamy ganache and fluffy frosting.</p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                         <img src="/Hot3.jpg" alt="Cake 3">
                         <div class="description">
                             <h2>Chocolate Cake</h2>
                             <p>Rich chocolate layers with creamy ganache and fluffy frosting.</p>
                             <button>Shop Now</button>
                         </div>
                     </div>
                </div>
                <!-- 添加更多轮播内容 -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: {
                delay: 5000, // 设置为5秒自动轮播
                disableOnInteraction: false, // 用户交互后继续轮播
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>